h1 {  
  font-size: 50px;
  font-weight: 900;
  margin-top: 200px;
  margin-bottom: 5px;
}                 
p {              
  font-size: 16px;
  font-weight: 800;
}              
body {        
  background: url(../images/pixel_weave.png) repeat 0 0;      
  color: #bdc3c7;
  text-align: center;
}

.navbar{
}
