.socialIcon {
  width: 80px;
  margin: 10px;
}
.headshot {
  width: 230px;
  border-radius: 6px !important;
}
#container p { display: inline }
hr {
  margin-top: 90px !important;
}
body {
  font-family: "system";
  padding: 40px 90px 40px 90px;
}
