body {
    background-color: white;
    margin-top: 50px;
    padding: 50px;
    display: block;
}
#myCode {
  font-size: 26px;
}
#myFace {
  width: 450px;
}
.socialIcon {
  width: 80px;
  margin: 10px;
  padding-bottom: 100px;
}
