
body{
color: #f9f9f9;
/*font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
*/font-size: 36px;
font-family: 'Open Sans', sans-serif;
background: #454545;
text-align: center;
padding-top: 190px;
}

