body {
  background-color: black;
  color: #ecf0f1;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  padding: 60px 210px 60px 210px;
}
a {
  font-weight: 800;
  color: #ecf0f1;
}
blockquote p:before {
  content: "// ";
}
blockquote p {
    font-family: SourceCodePro-Medium;
    color: black;
    background-color: #ecf0f1white;
    padding: 2px 10px 2px 10px;
}
blockquote p a {
  color: black;
}
hr {
  margin-top: 80px !important;
}
.socialIcon {
  width: 80px;
  margin: 10px;
}
.headshot {
  width: 230px;
  border: 16px solid #ecf0f1;
}
#socialIconRow {
  display: inline-block;
  background-color: #ecf0f1;
}
#container p { display: inline }
@font-face {
  font-family: SourceCodePro-Medium;
  src: url(SourceCodePro-Medium.ttf);
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
p {
  line-height: 1.5em;
  font-size: 1.15em;
}
code {
  font-size: 1.15em;
}
