.socialIcon {
  width: 80px;
  margin: 10px;
}
.headshot {
  width: 230px;
  border: 16px solid white;
}
#socialIconRow {
  display: inline-block;
  background-color: white;
}
a {
  font-style: italic;
  font-weight: 900;
  color: white;
}
#container p { display: inline }
hr {
  margin-top: 90px !important;
}
body {
  font-family: "system";
  padding: 40px 90px 40px 90px;
}
@font-face {
  font-family: SourceCodePro-Medium;
  src: url(SourceCodePro-Medium.ttf);
}

body {
  background-color: black;
  color: white;
}
code {
    font-family: SourceCodePro-Medium;
    color: black;
    background-color: white;
    padding: 2px 10px 2px 10px;
}
